.wrapper {
  background-color: #0020f4;
  height: 308px;
}
h2 {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 32px;
  color: #ffffff;
  padding-top: 70px;
  margin-left: 240px;
  box-sizing: border-box;
}
.wrapper :nth-child(2) {
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  position: fixed;
  right: 300px;
  top: 84px;
}
.wrapper :nth-child(3) {
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  opacity: 30%;
  position: fixed;
  right: 271px;
  top: 84px;
}
.wrapper :nth-child(4) {
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  opacity: 30%;
  position: fixed;
  right: 241px;
  top: 84px;
}
.more :first-child {
  background-color: #171717;
  width: 1px;
  height: 22px;
  position: fixed;
  bottom: 292px;
  right: 421px;
}
.more :nth-child(2) {
  color: #171717;
  font-family: "Helvetica Neue Bold";
  font-size: 18px;
  position: fixed;
  right: 256px;
  bottom: 295px;
}
