.wrapper {
  background-color: #0020f4;
  height: 308px;
  position: relative;
}
h2 {
  font-family: "Helvetica Neue Bold", sans-serif;
  font-size: 32px;
  color: #ffffff;
  padding-top: 70px;
  margin-left: 240px;
  box-sizing: border-box;
}
.wrapper :nth-child(2) {
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  position: fixed;
  right: 300px;
  top: 84px;
}
.wrapper :nth-child(3) {
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  opacity: 30%;
  position: fixed;
  right: 271px;
  top: 84px;
}
.wrapper :nth-child(4) {
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  opacity: 30%;
  position: fixed;
  right: 241px;
  top: 84px;
}
.more :first-child {
  background-color: #171717;
  width: 1px;
  height: 22px;
  position: fixed;
  bottom: 292px;
  right: 421px;
}
.more :nth-child(2) {
  color: #171717;
  font-family: "Helvetica Neue Bold";
  font-size: 18px;
  position: fixed;
  right: 256px;
  bottom: 295px;
}
.images :first-child {
  position: relative;
}
.images :nth-child(2) {
  position: relative;
}
.images :nth-child(3) {
  position: relative;
}
.p :first-child {
  position: absolute;
  bottom: 200px;
  width: 300px;
  background-color: #ffffff;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 74px;
  margin: 15px;
  border-radius: 15px;
  font-family: "Helvetica Neue Regular";
}
.p :nth-child(2) {
  position: absolute;
  bottom: 280px;
  margin-left: 530px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 67px;
  padding-top: 28px;
  padding-bottom: 29px;
  font-family: "Helvetica Neue Bold";
}

.p :nth-child(3) {
  position: absolute;
  bottom: 220px;
  width: 300px;
  margin-left: 1035px;
  background-color: #ffffff;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 74px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Helvetica Neue Regular";
}
.images {
  position: absolute;
  bottom: 400px;
  margin-left: 250px;
}
.p {
  position: absolute;
  margin-left: 250px;
  margin-top: 480px;
}
